body
{
	background-color: #EEE;
	background-size: 100% 150%;
	background-repeat: no-repeat;
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#header
{
	background-color: black;
	color: white;
	text-align: center;
}

a {

	color: white;
	text-decoration: none;

}

h2 
{
	
	
}

#link
{
	width: 300px;
	background-color: #212F3C;
	float: left;
}
#content
{
	background-image: url("../images/main/p1.jpg");
	background-size: 100% 100%;

	width: 1000px;
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;

}

#footer
{
	clear: both;
	padding: 10px;
	background-color: black;
	color: white;
	text-align: right;
}